<div class="bg-dark text-white mt-3 p-3" th:fragment = "cart_partial" th:if="${notoncartview == null}">
    <div class="cart cartActive" th:if="${cartActive}">
        <p>
            You have <span th:text="${size}"></span>  items in your cart.</p>
           <p>Your total is $ <span th:text="${total}"></span> 
                   </p>
<p>
 <a href="/cart/view" class="btn btn-success" >View cart</a>   
 <a href="/cart/clear" class="btn btn-danger float-right" >Clear cart</a>   
</p>
    </div>
    <div class="cart cartInactive" th:unless="${cartActive}">
        <p>The cart is Empty</p>
    </div>
</div>